<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lx.amap">

    <application >

        <!-- 高德地图 -->
        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="f6c7526179d0bc2f56dd3acc893443de"/>

        <service android:name="com.amap.api.location.APSService"/>

        <activity android:name=".activity.MapPlanningActivity"/>
        <activity android:name=".activity.DriveRouteDetailActivity"/>


    </application>

</manifest>