<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lx.amap">

    <application android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.MapPlanningActivity">
        </activity>
        <!-- 高德地图 -->
        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="f6c7526179d0bc2f56dd3acc893443de"/>

        <service android:name="com.amap.api.location.APSService"/>

    </application>

</manifest>